$paddingTwo: 10px;
$padding : 18px;
$margin: 12px;

body{    

    background-color: rgba(8, 6, 6, 0.884);

    h6 a{
        color:rgb(255, 255, 255);
        text-decoration: none;
        transition: 1.2s;
        
    }

    h6 a:hover{
        
        text-decoration: none;
    }

    h5 a{
        color:rgb(0, 140, 255);
        text-decoration: none;
        transition: 1.2s;

        
    }

    h5 a:hover{

        text-decoration: none;
    }

    section h3{
        color:white;
        padding: $padding;
    }

    section h2{
        color:white;
    }

    .container{        
        border: rgba(255, 168, 6, 0.589) solid 2x;
    }
    
    img{
        margin:  auto;
        padding: $padding;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        border: 2px solid black;
        background-color: rgba(64, 73, 146, 0.534);

    }
}


body section:nth-child(2){

    .col{
        margin-left:15px;
        padding: 20px;
    }
    .sub-tittle{
        width: 100%;
        background-color: rgba(240, 248, 255, 0.199);
        border: rgba(255, 166, 0, 0.548) solid 2px;
        border-radius: 20px;
        padding: $padding;
        margin: $margin;
    }
}
