$paddingTwo: 10px;
$padding : 18px;
$paddingcont: 30px;
$margin: 12px;

$tablet: "only screen and (min-width : 320px)";

body{    

    .container{
        border: 2px solid white;
        margin-top:60px;
        width: 50%;
        padding: $paddingcont ;

        a{  
            color: white;
            text-align: center;
            padding: $padding;

        }

        .iconLinkedin{
            
            float: right;
            border: none;
            background-color: #fff;
            align-items: right;
            height: 70px;
            width: 70px;
        }
    }

    background-color: rgba(8, 6, 6, 0.884);
    font-family: 'Cinzel', serif;

    h6 a{
        color:rgb(255, 255, 255);
        text-decoration: none;
        transition: 1.2s;
        
    }

    h6 a:hover{
        
        text-decoration: none;
    }

    h5 a{
        color:rgb(0, 140, 255);
        text-decoration: none;
        transition: 1.2s;

        
    }

    h5 a:hover{

        text-decoration: none;
    }

    section h3{
        color:white;
        padding: $padding;
    }

    section h2{
        color:white;
    }

    .container{ 
        width: 90%;

        border: rgba(255, 168, 6, 0.589) solid 2x;
    }
    
    img{
        margin:  auto;
        padding: $padding;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        border: 2px solid black;
        background-color: rgba(64, 73, 146, 0.534);

    }

    .Copyright{
        display:none;
    }
}


body section:nth-child(2){

    .col{
        margin-left:15px;
        padding: 20px;
    }
    .sub-tittle{
        background-color: rgba(240, 248, 255, 0.199);
        border: rgba(255, 166, 0, 0.548) solid 2px;
        border-radius: 20px;
        padding: $padding;
        margin: $margin;
    }
    @media #{$tablet}{
        body{
            background-color: red;
        }
    }
}

