
$primary-color: #444;
$secondary-color: #e96914;
$show-home-image:true;
$home-image: url(../img/codf.jpg);
$b-opacity: 0.9;
$break-small: 750px;




@mixin easeout{
    transition:1.8s;
}

@mixin easeout2{
    transition: 2.1s;
    opacity: 2;
}

@mixin background{
    @if $show-home-image{
        &#bg-img{
            background: ($home-image);
            background-attachment: fixed;
            background-size:cover;
            
            &:after{
                
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;                
                
                z-index: -2;
            }
        }
    }
}




*{
    box-sizing: border-box;
}


body{
    @include background;
    background-color: $primary-color; 
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    .wip{
        font-size:3rem;
        color: rgb(182, 88, 1);

        @media only screen and (max-width: $break-small) {
        font-size:2rem;
        }

        
    }
}

h1,h2,h3{

    color: #fff;
    margin: 0;
    font-weight: 450;
    &.lg-heading{
        font-size: 4rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.4rem;
        background: rgba(lighten($primary-color,0.9),0.1);
    }
    &.wip{
        margin-bottom: 2rem;
        padding: 0.4rem;
        
    }

   
    

}
a{
    color:white;
    text-decoration: none;

    &:hover{
        color:$secondary-color;
        text-decoration: none;
        
    }
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.textSecond{
    
    color:$secondary-color;
    padding: 4px;
    @include easeout();
    &:hover{
        color:rgb(241, 143, 87);
    }
}

.textThree{
    color:rgb(241, 143, 87);
}

.top{
    background-color: rgba(43, 41, 41, 0.288);
    padding: 20px;

}
.mid{
    background-color: rgba(43, 41, 41, 0.288);

    padding: 20px;
}

.bot{
    background-color: rgba(43, 41, 41, 0.288);

    padding: 20px;
}


main{

    padding:3rem;
    height: 100%;

    .icons{
        
        align-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;



        
        a{
            padding: 2rem;
            @include easeout();
            &:hover{
                color:$secondary-color;
            }
        }
    }

    &#home{
        overflow:hidden;
        h1{
            margin-top:22vh;

            @media only screen and (max-width: $break-small) {
                margin-top:  5vh;
            }
            
        }
    }
}


.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeout;

    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: white;
        @include easeout;
    }

    &.close{
        transform: rotate(-90deg);
        
        .btn-line{
            background:rgb(255, 230, 0);
        }
    }
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;    
    opacity: 1;
    visibility: hidden;
    

    &.show{
        visibility: visible;
    }

    &-branding, &-nav    
    {
        border: 2px solid black;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: right;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.267);

    }
             &-nav {
                 margin: 0;
                 padding: 0;
                 background: darken($primary-color,2);
                 list-style: none;
                 transform: translate3d(-100%,0,0);
                 @include easeout();

                 &.show{
                     transform: translate3d(0,0,0);
                 }
                 a{
                     font-size: 3rem;
                 }

                 @media only screen and (max-width: $break-small) {
                     a{
                         padding-top: 2rem;
                         font-size: 2rem;
                     }

                 }
             }

             &-branding{
                 background: url('../img/forest-path.jpg');
                 background-attachment: fixed;
                        background-size:cover;  
                 @include easeout2();
                 transform: translate3d(-200%,0,0);

                 @media only screen and (max-width: $break-small) {

                    
                        background: url('../img/dark-eeri.jpg');
                        background-attachment: fixed;
                        background-size:cover;                        
                        
                    }

                 &.show{
                    transform: translate3d(0,0,0);
                 }

                 .portrait{
                     z-index: 1;
                     width: 350px;
                     height: 350px;
                     background: url('../img/yo.png');
                     border-radius: 50%;
                     border: solid 3px $primary-color;

                     @media only screen and (max-width: $break-small) {
                        background: url('');
                        border: solid 0px $primary-color;
                    }

                 }
             }
}


#homegrid{
    height: 100vh;
    .grid{
        img{

            height: 200px;
            width: 200px;
            padding: 0.5rem;
            margin: 1rem;
            background: darken($secondary-color,25);
            border-radius: 20% 3% 20% 3%;

            @media only screen and (max-width: $break-small) {
                border-radius: 30% 5% 30% 5%;
            }
        }
        padding: 2.5rem;
        margin: 1.5rem; 
        background: rgba(0, 0, 0, 0.438);
    }
}